# General
*.log
*.zip
*.bin
*.deb
*.tar.gz
*.swp
*.bak

# IDEs & Editors
.vscode/
.idea/
*.code-workspace

# Vivado, Vitis
*.jou
*.log
*.str
*.backup.jou
*.backup.log
*.webtalk
webtalk/
.sim/
.hw/
.cache/
.hw_*
.sim_*

# Python
__pycache__/
*.pyc

# Builds
/build/
